data/
debug.ipynb
.DS_Store
.ipynb_checkpoints

shL1CAM-shSHTN1-rnaseq/results
shL1CAM-shSHTN1-rnaseq/anno/*
!shL1CAM-shSHTN1-rnaseq/anno/sample_metadata.tsv
shL1CAM-shSHTN1-rnaseq/de-from-featurecounts.ipynb
